.background-image {
  width: 100%;
  height: 100%;
  background-image: url('./assets/image/welcomeImage.jpg');
}
.padding-10 {
  padding-top: 10%;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.p {
  font-family: "Ubuntu", sans-serif;
}
/* Carousel*/
.carousel,
.carousel-item,
.carousel-item.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
  }
}
/* new */
.mypic {
  width: 250px;
  height: 200px;
}
.btn {
  background-color: #1c2331;
  color: white;
}
.btn:hover {
  color: white;
}
.top-heading {
  font-family: "Ubuntu", sans-serif;
  color: white;
}
.aboutme {
  font-size: 20px;
}
.duties > ul > li {
  font-size: 20px;
}
.compimg {
  width: 400px;
  height: 100px;
}
.card {
  margin-bottom: 10px;
}
/* end */
body {
  overflow: auto;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

#googleMap {
  height: 250px;
  width: 600px;
  position: relative;
  overflow: hidden;
}

.tablet-1200 {
  display: none;
  visibility: hidden;
}
.phone-1000 {
  display: none;
  visibility: hidden;
}
.system-screen {
  display: inline-table;
  visibility: visible;
}

.expimg {
  width: 400px;
  height: 100px;
}
.expimg1 {
  width: 200px;
  height: 80px;
}
.expimg2 {
  width: 320px;
  height: 150px;
}
@media screen and (max-width: 1200px) {
  .mypic {
    width: 200px;
    height: 150px;
  }

  .tablet-card {
    height: 320px;
  }
  #googleMap {
    width: 500px;
  }
  .tablet-edu {
    height: 200px;
  }

  .tablet-h1 {
    font-size: 3em;
  }

  .tablet-h2 {
    font-size: 1.5em;
  }
  .duties > ul > li {
    font-size: 18px;
  }
  .tablet-1200 {
    display: inline-table;
    visibility: visible;
  }
  .phone-1000 {
    display: none;
    visibility: hidden;
  }
  .system-screen {
    display: none;
    visibility: hidden;
  }

  .expimg {
    width: 400px;
    height: 100px;
  }
  .expimg1 {
    width: 200px;
    height: 80px;
  }
  .expimg2 {
    width: 320px;
    height: 150px;
  }
}
@media screen and (max-width: 1000px) {
  .tablet-card {
    height: 320px;
  }
  #googleMap {
    width: 500px;
  }
  .tablet-edu {
    height: 200px;
  }

  .tablet-h1 {
    font-size: 3em;
  }
  .duties > ul > li {
    font-size: 16px;
  }
  .tablet-h2 {
    font-size: 1.5em;
  }
  .tablet-1200 {
    display: none;
    visibility: hidden;
  }
  .phone-1000 {
    display: inline-table;
    visibility: visible;
  }
  .system-screen {
    display: none;
    visibility: hidden;
  }

  .expimg {
    width: 300px;
    height: 80px;
  }
  .expimg1 {
    width: 280px;
    height: 60px;
  }
  .expimg2 {
    width: 280px;
    height: 120px;
  }
  .exptitle {
    font-size: 20px;
  }
  .exploc {
    font-size: 18px;
  }

  .exptime {
    font-size: 16px;
  }
}
/* @media screen  and (min-width:600px) and (max-width:800px){
.tablet-card{

}
}*/
@media screen and (max-width: 1200px) {
  .tablet-card {
    height: 250px;
  }
}

@media screen and (min-width: 600px) and (max-width: 770px) {
  .tablet-edu {
    height: 200px;
  }
}

@media screen and (max-width: 770px) {
  .tablet-card {
    height: 220px;
  }
  /* .tablet-edu{
  height:350px;
} */
  #googleMap {
    width: 350px;
    margin-left: 5px;
  }
  .tablet-h1 {
    font-size: 2em;
    padding-top: 10%;
  }
  .tablet-h2 {
    font-size: 1em;
  }

  .mypic {
    width: 250px;
    height: 200px;
    margin-left: 10%;
  }
  .jobname {
    display: block;
    text-align: center;
  }

  .insertpo {
    background-position: center;
  }
  .insert {
    width: 200px;
    height: 150px;
  }
}

div.transbox {
  background-color: #ffffff;
  opacity: 0.8;
}

div.transbox p {
  font-weight: bold;
  color: #000000;
}

div.transbox h4 {
  font-weight: bold;
  color: #000000;
}

.page-footer {
  background-color: #1c2331;
}

.w3-text-white {
  color: white;
}

.mr-3 {
  margin-right: 1rem !important;
}

.card:hover {
  box-shadow: 9px 10px 10px #18282f;
}
.btn:hover {
  box-shadow: 4px 5px 3px 0px #18282f;
  background-color: white;
  color: #18282f;
}

.bg-clr {
  background-color: #1c2331;
}

.nav-link {
  cursor: pointer;
}
